
#reservation h1{
    font-family: "Montserrat-Bold";
    text-align: center;
    font-size: 60px;
    color: black;
    font-weight: 700;
    margin: 3rem 0 3rem 0;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.34) 2px 5px;
}


#reservation form{
    display: flex;
    margin: 5rem 0;
    justify-content: center;
}
#reservation form label{
    text-transform: uppercase;
    padding: 1rem;
    font-size: 1rem;
    letter-spacing: 1px;
    
  
}

#reservation form input,select {

    width: 90%;
    height: 7vh;
    box-sizing: border-box;
    border: 2px solid #eaeaea ;
    background-color: #fff ;
    font-family: "Montserrat",Arial, Helvetica, sans-serif;
    border-radius: 5px ;
    padding: 4px 5px 4px 15px ;
    margin: 1rem;
    font-size: 16px;
    
}


#reservation form  textarea {
    width: 70%;
    height: 30vh;
    box-sizing: border-box;
    border: 2px solid #eaeaea ;
    padding: 4px 5px 4px 15px ;
    background-color: #fff ;
    font-family: "Montserrat",Arial, Helvetica, sans-serif;
    border-radius: 5px ;
    margin: 1rem;
    font-size: 16px;
}

#reservation form .formResa{
    margin: 1rem 1rem 1rem 4rem;
    width: 100%;
    
}
#reservation form button{
      
    margin: 1rem 1rem;
    font-family: "Montserrat",Arial, Helvetica, sans-serif;
    padding: 5px 10px ;
    font-size: 20px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #CBA81C ; 
     color:#CBA81C;
}

@media screen and (max-width:900px)  {
  
    #reservation form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 2rem;
    }  
    #reservation form .formResa{
        margin: 0;
        width: 100%;
        
    }
    #reservation{
        margin-top: 8rem;
    }

    #reservation h1{
        font-size: 30px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
