h1{
    font-family: "Montserrat-Bold",Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 60px;
    color: black;
    font-weight: 700;
    margin: 2rem 0 1rem 0;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.34) 2px 5px;
  }
  
.prestaDetail {
    margin: 5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
   margin: 0 auto;

}

.prestation {
    padding:1rem 3rem;
}
.prestaDetail {
    width: 55%;
}
#prestations .prestaDetail .prestation a img{
width: 100%;
}

#prestations .prestaDetail .prestation a {
   text-align: center;
   text-decoration: none;
   color: black;
   text-transform: uppercase;
   font-weight: bold;
}

/* section Prestation info */

.prestaList {
    margin: 3rem 0;
}
.prestaList h2{
    text-align: right;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: normal;
    color: #cda33b;
    letter-spacing: 0.3rem;
}
.prestaList h2::after{
    content: "";
    display: inline-block;
    width: 50%;
    height: 10px;
    background: #eaeaea;

}

.prestaList article{
    display: flex;
    justify-content: center;
}
.prestaList .prestaImg{
    width: 25%;
    padding-right: 1rem;
}
.prestaList .prestaImg img{
    width: 100%;
}
.prestaList .content{
    margin-top: 5rem;
    margin-left: 2rem;
    width: 50%;
   
}
.prestaList .content .tarifs{
    text-align: center;
    padding:2rem;
  
}
.prestaList .content .tarifs h3{
  font-size: 25px;
  padding-bottom: 1rem;
  color: #cda33b;
}
.prestaList .content .tarifs h3::after{
    content: "";
    display: block;
    width: 15%;
    height: 3px;
    background: #cda33b;
    margin: 0 auto;
  }


.prestaList .content  a{
    
    padding:1rem;
    text-decoration: none;
    color: black;
    font-size: 35px ;
    font-family: "Montserrat-bold", Arial, Helvetica, sans-serif;
    cursor: pointer;
    border: none;
    background-color: white;

}

@media screen and (max-width:900px)  {
    #prestations {
        margin-top: 9rem;
    }
    #prestations h1{

        font-size: 40px;
    }
    .prestaDetail{
        display: flex;
        flex-direction: column;
    }
    .prestaList h2{
        font-size: 30px;
        text-align: center; 
        letter-spacing: none;
    }
    .prestaList h2::after{

        display: block;
        margin: 10px auto;
        width: 20%;
        height: 5px;
        background: #eaeaea;
    }
    .prestaList article{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
    }
    .prestaList .prestaImg{
        width: 50%;

    }
    .prestaList .content{
        margin-top: 2rem;
        margin-left: 0;
    }
}