
.formSignup h1{
    font-family: "Montserrat-Bold",Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 60px;
    color: black;
    font-weight: 700;
    margin: 2rem 0 1rem 0;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.34) 2px 5px;
  }

.formSignup{
    width: 40%;
    margin: 3rem auto ;
}

.formSignup form input {

    width: 100%;
    height: 7vh;
    box-sizing: border-box;
    border: 2px solid #eaeaea ;
    background-color: #fff ;
    font-family: "Montserrat",Arial, Helvetica, sans-serif;
    border-radius: 5px ;
    margin: 1rem 0;
    text-align: center;

    font-weight: bold;
  
}
.formSignup form  textarea {
    width: 80%;
    height: 37vh;
    box-sizing: border-box;
    border: 2px solid #eaeaea ;
    padding: 4px 5px 4px 15px ;
    background-color: #fff ;
    font-family: "Montserrat",Arial, Helvetica, sans-serif;
    border-radius: 5px ;
    margin: 1rem;
}

.formSignup form fieldset{
    padding: 1rem 1rem;
    border: 2px solid #eaeaea ;
    box-shadow: 5px 7px 7px grey;
    margin-top: 3rem;

   
}
.formSignup form button{
    display: block;
    margin: 3rem auto;
    font-family: "Montserrat",Arial, Helvetica, sans-serif;
    padding: 5px 10px ;
    font-size: 20px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
@media screen and (max-width:900px)  {
  
    
.formSignup{
    width: 80%;
 
}
.formSignup h1{
    font-size: 30px;
    margin-top: 8rem;
 
}
   }