.users_card{ 
    width: 200px;
    margin-top: 5rem;
    border: 1px solid black;
    padding: 1rem;
}
.users h1 {
    margin-bottom: 5rem;
}
.users_card a{
    color: black;
}

.users_card p{
    margin-bottom: 10px;
}
.users span {
    margin: 5rem;
    color: black;
    padding: 15px 15px;
    background-color: red;
}