
main h1{
    font-family: "Montserrat-Bold";
    text-align: center;
    font-size: 60px;
    color: black;
    font-weight: 700;
    margin: 2rem 0 1rem 0;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.34) 2px 5px;
}

main h1::after{

    content: "";
    display: block;
    width: 10%;
    height: 3px;
    background-color: black;
    margin: 0.5rem auto 4rem;
}
#contact {
    display: flex;
    justify-content:space-around;
}
#contact ul {
   margin-top: 3rem ;
   padding: 0;
}
#contact ul li:first-child{
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 1rem;
}
#contact ul li a{
    text-decoration: none;
    color: black;
}

#contact li{
    list-style: none;
    font-size: 20px;
    line-height: 50px;
}
form{
 padding: 2rem ;
 background-color: #CBA81C;
}
#contact .img{
    width: 400px;
}
img{
    width: 100%;
}
#formulaire{
text-align: center;
margin-top: 1rem;
}
input {
    width:30%;
   
    height: 30px;
}
select {
    width: 30% ;
    height: 30px;
}
