/* général */
  body{
    font-family:"Montserrat", Arial, Helvetica, sans-serif ;
    
  }
  * {
    margin:0;
    padding: 0;
  }



/* section barre de navigation */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
    header .main-menu ul li{
    display: inline-block;
    margin: 0 2rem;
    list-style: none;
    }
    header .logo{
    width: 150px;
    }
    header nav .logo img{
    width:100%; 
    }
    
    
    header .nav-item a{
    font-family: "Montserrat-bold",Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: black;
    }
    header .nav-item a::after {
        content: "";
        display: block;
        width: 0%;
        height: 3px;
        background-color: #CBA81C;
        margin: 0 auto;
        transition: all 0.2s ease-in;
      }
      header .nav-item a:hover::after {
        width: 100%;
      }
    
    header .main-menu .btn {
    display: inline-block;
    border: 1px solid #CBA81C;
    padding: 5px 30px;
    color: #CBA81C;
    font-weight: bold;
    font-family: "Montserrat-bold",Arial, Helvetica, sans-serif;
    border-radius: 5px;
    text-decoration: none;
    }
    
    header .main-menu .btn:hover{
    background-color:#CBA81C ;
    color: black;
    }

    /* section banière  */

    #banner {
        background-image: url(/public/img/pexels-imustbedead-10895036.jpg);
        background-size: cover;
        background-position: top;
        color: white;
        text-align: center;
        height: 80vh;
      }
      
      #title h1 {
        font-family: "Montserrat-Bold",Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 60px;
        color: black;
        font-weight: 700;
        margin: 2rem 0 1rem 0;
       
      }
      #title>p {
        font-size: 30px;
        letter-spacing: 3px;
        color: rgba(0, 0, 0, 0.281);
        line-height: 1px;
        text-align: center;
        margin-bottom: 2rem;
      }
    /* section about adele */
    #about{
        display: flex;
        justify-content: flex-end;
        position: relative;
        margin: 3rem auto;
        width: 80%;
      }
      .aboutAdele{
        display: flex;
        width: 60%;
        height: 40vh;
        background-color: #CBA81C;
        position: absolute;
        bottom:8%;
        left: 5%;
        color: white;
        text-align: center;
      
      }
      .aboutAdele h3{
        text-transform: uppercase;
        padding-bottom: 1rem;
      }
      .aboutAdele div{
        margin: auto 1rem;
      }
      .imgAdele{
        width: 50%;
        height: auto;
      }
      
      .imgAdele img{
        width: 100%;
      }
      
      /* section services */
.service{
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  
  }
  
  .service article{
  
    width: 20%;
    margin: 2rem 1rem;
    box-shadow: 5px 7px 7px grey;
    position: relative;
  }
  
  
  .service article img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #services h2{
    text-align: center;
    font-family: "Montserrat-Bold",Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(208, 58, 58);
    margin-top: 2rem;
    text-transform: uppercase;
    font-weight: bold;
  }
  #services h2::after {
    content: "";
    display: block;
    width: 8%;
    height: 3px;
    background-color: rgb(208, 58, 58);
    margin: 0.5rem auto;
    
  }
  
  h4{
    position:absolute;
    bottom: 20%;
    left:50%;
    transform: translate(-50%);
    color: rgba(255, 255, 255, 0.616);
    font-size: 200%;
    font-weight: bold;
    transition: all 0.2s ease-in;
  }
  h4:hover{
    font-size: 280%;
  }

  footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  footer a{
   color: white;
   text-decoration: none;
  }
  footer{
    text-align: center;
   color: white;
   background-color: rgb(14, 52, 96);
  }
  footer ul{
   margin-top: 3rem; 
   padding: 0;
  }
  
  footer ul li{
    list-style: none;
  }
  footer i {
    color: white;
    padding-right: 1rem;
  }
  
  /* section contact */
  #contactList h2{
    text-align: center;
    font-family: "Montserrat-Bold",Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(208, 58, 58);
    margin-top: 2rem;
    text-transform: uppercase;
    font-weight: bold;
  }
  #contactList h2::after {
    content: "";
    display: block;
    width: 8%;
    height: 3px;
    background-color: rgb(208, 58, 58);
    margin: 0.5rem auto;
    
  }
  #contactList article{

    width: 20%;
    margin: 2rem 1rem;
    padding: 2rem 1rem;
    box-shadow: 5px 7px 7px grey;
    display: inline-block;
  }
  #contactList p{
    font-size: 16px;
    padding: 0.2rem;
    font-weight: 500;
  }
